footer {
  background-color: black;
  text-align:center;
  height:50px;
  width:100vw;
}
.footer-link{
    display:inline;
}
footer ul li a{
    color:white;
    padding:5px;
}
footer ul li{
    display:inline;
}
.center{
    border-left:ridge 4px white;
    border-right:ridge 4px white;
}